<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="login-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">

    <ion-item color="transparent" lines="none">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" required name="email" errorText="Invalid email" ngModel email [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item color="transparent" lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password"  
        name="password" 
        required  
        errorText="Password is required" 
        ngModel [(ngModel)]="user.password"
        minlength="4"
        ></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" class="ion-margin">
      Registrarse
    </ion-button>
  </form>

  <ion-button expand="full" fill="clear" routerLink="/login">
    ¿Ya tienes cuenta? Inicia Sesión
  </ion-button>
</ion-content>